<!-- this file should take an object event as input  -->

<main id="event description">

    <section class="head">
        <section class="title">
            <h1><%= event.sport%></h1>
            <p>An event from Owner</p>
        </section>

        <%if(user){%>
            <!-- if you are the owner -->
        <section>
            <a rel="edit" href="">Edit</a>
            <a rel="delete" href="">Delete</a>
        </section>
        
        <%} else if (user){%>
        <!-- if you are a member that can left -->
        <section>
            <form>
             <button type="submit" name="submit"> Leave </button>
         </form>
      </section>
      <%} else if (user){%>
        <!-- if you are a member that can join -->
        <section>
            <form>
                <button type="submit" name="submit"> Join </button>
            </form>
        </section>
      <%} else if (user){%>
        <!-- if the event is full -->
        <section>
        Sorry, this event reached the maximum capacity chosen from the owner.
      </section>
      <%} else{%>
        <!-- if you are not logged in -->
        <section>
        If you want to join the event please <a href="/login">Login</a>!
      </section>
      <%}%>
    </section>

    <section class="title">
        <h1>Description</h1>
        <p class="about">
            <%= event.description%>    
        </p>
    </section>


    <section class="title">
        <h2>Details</h2>
        <p>Place : <%= event.place%> </p>
        <p>Starting Date : <%= event.date%></p>
        <p>Members : <%= event.members.lenght%>/<%= event.max_members%></p>
        <p>Frequency:</p>
    </section>

    <% if (user){ %>
        <!-- if the user has joined the event or the user is the owner -->
    <div class="container_chat">
        <div class="header">
            <h1>Group Chat</h1>
        </div>

        <div id="chat" class="body">

            <p class="text-left" style="color:red;">Francesco</p>
            <p class="message">
                Hey! I'm fine. Thanks for asking!
            </p>
            <p class="text-left">11:01</p>

            <p class="text-left" style="color:red;">Francesco</p>
            <p class="message">
                Hey! I'm fine. Thanks for asking!
            </p>
            <p class="text-left">11:01</p>

            <p class="text-right" style="color:white;">You</p>
            <p class="message user_message">
                Nah, I dunno. Play soccer.. or learn more coding perhaps?
            </p>
            <p class="text-right">11:02</p>
        </div>

        <div class="footer">
            <form class="chat">
                <input type="text_chat" name="">
                <button>SEND</button>
            </form>
        </div>

    </div>
    <%}%>
</main>