<%
  let flag = false;
  function isInside(id){
    console.log('ID:');
    console.log(id);
    event.members.forEach((element)=>{
      console.log('ELEMENT:')
      console.log(element)
      if (element === id){
        flag = true;
      }
    });
    return flag;
  }
%>

<main id="event description">
    <section class="head">
      <section class="title">
        <h1><%=event.sport%></h1>
        <p>An event from <%=event.owner%> </p>
      </section>

      <section>
        <%if(user){
          if(event.owner !== user.username){
              if(isInside(user._id)){
                  console.log("you are a member")%>
                  <form>
                    <button type="submit" name="submit_leave"> Leave </button>
                  </form>
          <%} else if(event.members.length >= event.max_members) {
                  console.log("event is full")%>
                  <section>
                      Sorry, this event reached the maximum capacity chosen from the owner.
                  </section>
          <%} else {
                  console.log("you are NOT a member")%>
                  <form>
                    <button name="submit_join" id="<%=event._id%>"> Join </button>
                  </form>
          <%}%>
          <%} else{
            console.log("you are the OWNER")%>
            <a rel="edit" id="edit_sport" href="/sports/<%= event._id%>/edit">Edit</a>
            <a rel="delete" id="delete_sport" href="" >Delete</a>
          <%}
      } else {
        console.log("you are not logged in")%>
        If you want to access the event informations please <a id="login_from_event" href="/login">Login</a>!
      <%}%>
            </section>
        </section>



    <section class="title">
      <h1>Description</h1>
      <p class="about">
       <%= event.description %>
      </p>
    </section>


    <section class="title">
      <h2>Details</h2>
      <p>Place : <%= event.place %></p>
      <p>Starting Date : <%= event.date %> </p>
      <p>Members : <%= event.members.length + "/" +event.max_members%></p>
      <p>Frequency: <%= event.frequency %></p>
    </section>

    <%if(user && ((user.username == event.owner) || isInside(user._id))){%>
    <div class="container_chat">
      <div class="header">
        <h1>Group Chat</h1>
      </div>

      <div id="chat" class="body">
        <%
        event.chat.forEach(chat =>{
          if(chat.name == user.username){
        %>
        <p class="text-right" style="color:white;"> You </p>
        <p class="message user_message">
          <%= chat.msg%>
        </p>
        <p class="text-right"><%= chat.time%></p>

        <%}else{%>

        <p class="text-left" style="color:white;"><%= chat.name%></p>
        <p class="message">
          <%= chat.msg%>
        </p>
        <p class="text-left"><%= chat.time%></p>

        <%}})%>

      </div>

      <div class="footer">
        <form class="chat" method="POST" name="chat" action="/chat" encType="multipart/form-data">
          <input id ="msg" type="text_chat" name="msg" value ="">
          <button id ="send">SEND</button>
        </form>
      </div>
      
    </div>
    <%}%>

</main>