<!--
    Web Atelier 2021
    Ejs
    Author: Samuel Corecco & Andrea prato (based on the html of Francesco)
-->
<%
  function isInside(name){
    let inside = false;

    event.members.forEach((element)=>{
      if (element.username == name){
        inside = true
      }
    });

    return inside;
  }
%>
<main id="event description">

    <section class="head">
      <section class="title">
        <h1><%=event.sport%></h1>
        <p>An event from <%=event.owner%> </p>
      </section>

      <section>
        <%if(user){
            if(event.owner !== user.username){
                 if(event.members.includes(user)){%>
                    <form>
                      <button type="submit" name="submit"> Leave </button>
                    </form>
                <%} else {
                    if(event.max_members === event.members.length){%>
                      <section>
                        Sorry, this event reached the maximum capacity chosen from the owner.
                      </section>
                    <%} else {%>
                        <form>
                          <button name="submit_join" id="<%=event._id%>"> Join </button>
                        </form>
                    <%}%>
                <%}
            }else{%>
                <a rel="edit" href="">Edit</a>
                <a rel="delete" href="">Delete</a>
            <%}
        }else{%>
            If you want to access the event informations please <a id="login_from_event" href="/login">Login</a>!
        <%}%>
            </section>
        </section>



    <section class="title">
      <h1>Description</h1>
      <p class="about">
       <%= event.description %>
      </p>
    </section>


    <section class="title">
      <h2>Details</h2>
      <p>Place : <%= event.place %></p>
      <p>Starting Date : <%= event.date %> </p>
      <p>Members : <%= event.members.length +"/"+event.max_members%></p>
      <p>Frequency: <%= event.frequency %></p>
    </section>

    <%if(user && (isInside(user.username) || (user.username == event.owner))){%>
    <div class="container_chat">
      <div class="header">
        <h1>Group Chat</h1>
      </div>

      <div id="chat" class="body">

      </div>

      <div class="footer">
        <form class="chat">
          <input type="text_chat" name="">
          <button>SEND</button>
        </form>
      </div>

    </div>
    <%}%>

  </main>